<?xml version='1.0' encoding='UTF-8'?>
<!--Created by Algos s.r.l.-->
<!--Date: mag 2013-->
<!--Il plugin Algos ha inserito (solo la prima volta) questo header per controllare-->
<!--le successive release (tramite il flag di controllo aggiunto)-->
<!--Tipicamente VERRA sovrascritto ad ogni nuova release del plugin-->
<!--per rimanere aggiornato-->
<!--Se vuoi che le prossime release del plugin NON sovrascrivano questo file,-->
<!--perdendo tutte le modifiche precedentemente effettuate,-->
<!--regola a false il flag di controllo flagOverwrite©-->
<!--flagOverwrite = true-->

<!DOCTYPE hibernate-configuration PUBLIC
	'-//Hibernate/Hibernate Configuration DTD 3.0//EN'
	'http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd'>

<hibernate-configuration>

	<session-factory>
	<!--
		<mapping package='com.books' />

		<mapping class='com.books.Book' />

		<mapping resource='someresource.hbm.xml'/>
	-->
	</session-factory>

</hibernate-configuration>
